<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" style="margin-left:30px;">
    <a class="close" data-dismiss="alert">×</a>
    <%= value %>
  </div>
<% end %>

<div class="login-form">
  <h2>Log In</h2>
  <%= form_tag admin_sessions_path do -%>
    <fieldset>
      <div class="clearfix">
        <%= text_field_tag :email, params[:email], :placeholder => "Email" %>
      </div>

      <div class="clearfix">
        <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
      </div>

      <%= submit_tag "Login", :class => "btn btn-primary btn-large" %>
    </fieldset>
  <% end %>
</div>