<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Just Elec", root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <%= content_tag('li', link_to("Home", root_path), :class => (controller_name == 'pages' && action_name == 'index' ? 'active' : nil)) %>
          <%= content_tag('li', link_to("Products", products_path), :class => (controller_name == 'products' ? 'active' : nil)) %>
          <%= content_tag('li', link_to("About", about_path), :class => (controller_name == 'pages' && action_name == 'about' ? 'active' : nil)) %>
          <%= content_tag('li', link_to("Contact", contact_path), :class => (controller_name == 'pages' && action_name == 'contact' ? 'active' : nil)) %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
