<%= form_for([:admin, @admin]) do |f| %>
  <%= render 'shared/error_messages', :target => @admin %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, readonly: true %>
  </div>
  <div class="field">
    <%= f.label :old_password %><br />
    <%= f.password_field :old_password %>
  </div>
  <div class="field">
    <%= f.label :password, "New Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit :class=> 'btn btn-primary' %>
  </div>
<% end %>
