<%= render 'shared/breadcrumb', :parent => @parent %>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to_if category.parent.nil?, category.name, { :controller => 'categories', :action => "index", :id => category } %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Category', new_admin_category_path(:parent => @parent) %>
