<%= form_for ([:admin, @product]), :html => { :style => "width: 300px;"  } do |f| %>
  <%= render 'shared/error_messages', :target => @product %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <% if @product.image? %>
      <ul class="thumbnails">
        <li class="thumbnail">
          <%= image_tag(@product.image.thumb.url) %>
        </li>
      </ul>
    <% end %>
    <div class="controls">
			<%= f.hidden_field :image_cache %>
			<%= f.file_field :image %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= categories_selector(f) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :style => "width: 420px;", :cols => '100', :rows => 12, :class => 'text_area' %>
    </div>
  </div>

  <div>
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>

