<%= form_for ([:admin, @product]), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', :target => @product %>
  <!-- 
  <table>
    <tr>
        <td>
          <div class="control-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'text_field' %>
            </div>
          </div>
        </td>
        <td>
          <div class="control-group">
            <%= f.label :category, :class => 'control-label' %>
            <div class="controls">
              <%= categories_selector(f) %>
            </div>
          </div>
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="control-group">
          <%= f.label :description, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :class => 'text_area' %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="control-group">
          <%= f.label :image, :class => 'control-label' %>
          <%= image_tag(@product.image_url) if @product.image? %>
          <div class="controls">
      			<%= f.hidden_field :image_cache %>
      			<%= f.file_field :image %>
          </div>
        </div>
      </td>
    </tr>
  </table>
  -->
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <%= image_tag(@product.image_url) if @product.image? %>
    <div class="controls">
			<%= f.hidden_field :image_cache %>
			<%= f.file_field :image %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= categories_selector(f) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="well">
    <%= f.submit nil, :class => 'btn' %>
  </div>
<% end %>

