<%= render 'shared/breadcrumb_product', :page => 'show' %>

<% if @product.image? %>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="thumbnail">
        <%= image_tag(@product.image.thumb.url) %>
      </li>
    </ul>
  </div>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <table class="table">
      <!-- 
      <thead>
        <tr>
          <th>#</th>
          <th>#</th>
        </tr>
      <thead>
      -->
      <tbody>
        <tr>
          <td><b>Name</b></td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td><b>Category</b></td>
          <td><%= @product.category.name %></td>
        </tr>
        <tr>
          <td><b>Description</b></td>
          <td><pre><%= @product.description %></pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <%= link_to 'Edit', edit_admin_product_path(@product), :class => "btn" %>
  <%= link_to 'Back', admin_products_path, :class => "btn" %>
</div>
