<%= render 'shared/breadcrumb_title', :title => 'All Products', :href => products_path %>

<% if @product.image? %>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="thumbnail">
        <%= image_tag(@product.image.thumb.url) %>
      </li>
    </ul>
  </div>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h5><%= @product.name %></h5>
      <p><pre><%= @product.description %></pre></p>
    </div>
  </div>
</div>

<div>
  <%= link_to 'All Products', products_path, :class => "btn btn-primary" %>
</div>
